<!-- <ng-container class="bg-white">

  <div>
    <h2>Lista de Productos</h2>
    <ul>
      <li *ngFor="let producto of products">
        <h3>{{ producto.descripcion }}</h3>
        <p>Precio: ${{ producto.price }}</p>
        <p>Descripción: {{ producto.quantity }}</p>
      </li>
    </ul>
  </div>
  
</ng-container> -->

<div class="bg-white" *ngIf="products">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>
  
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8" *ngFor="let producto of products">
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Descripción: {{ producto.descripcion }}
                <!-- <a href="#">
                </a> -->
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900">Precio: ${{ producto.price }}</p>
          </div>

          <div>
            
            <p class="mt-1 text-sm text-gray-500">Cantidad: {{ producto.quantity }}</p>
          </div>
        </div>
        
        <div class="container">

          <button class="custom-button" (click)="detalle()">Detalle</button>

        </div>
<div *ngIf="!products">
  No se encontraron productos
</div>

    </div>
  </div>
</div>
